<%- include("partials/header") %>

<div class="container">
	<nav class="navbar navbar-light bg-light">
		<h1>
			<%= blog.title %>
		</h1>
	</nav>
	<img src="<%=blog.image%>" width="50%" height="40%">
	<p>
		<%= blog.body.substring(0,75) %>
	</p>
	
	<h4>
		<%= blog.conclusion %>
	</h4>
	<small>
		<%= blog.created.toDateString() %>
	</small>
		   
	
	<form action="/blog/<%= blog._id %>?_method=DELETE" method="POST">
		<div class="form-group">
			<button type="submit" class="btn btn-outline-danger">
				Delete
			</button>
			
		</div>
	</form>
	
</div>
	
	
<%- include("partials/footer") %>	
